.theme-purple {
  --color-primary-opacity: 167, 79, 249; /* #a74ff9 */
  --color-secondary-opacity: 192, 128, 251; /* #C080FB */
  --color-tertiary-opacity: 76, 186, 231; /* #4CBAE7 */
  --color-accent-opacity: 255, 16, 135; /* #FF1087 */

  --color-focus-opacity: 99, 131, 158; /* #FF1087 */
  --color-disabled-opacity: 153, 153, 153; /* #939393 */

  --color-border-opacity: 255, 130, 230; /* #FF82E6 */
  --color-border-accent-opacity: 255, 16, 135; /* #FF1087 */

  --color-text-opacity: 217, 217, 217; /* #d9d9d9 */
  --color-text-accent-opacity: 192, 128, 251; /* #C080FB */
  --color-text-on-primary-opacity: 217, 217, 217; /* #d9d9d9 */

  --color-background-opacity: 255, 130, 230; /* #FF82E6 */

  /* Other*/
  --theme-background-opacity: 0.7;
}

.theme-purple {
  --color-primary: rgb(var(--color-primary-opacity));
  --color-secondary: rgb(var(--color-secondary-opacity));
  --color-tertiary: rgb(var(--color-tertiary-opacity));
  --color-accent: rgb(var(--color-accent-opacity));

  --color-focus: rgb(var(--color-focus-opacity));
  --color-disabled: rgb(var(--color-disabled-opacity));

  --color-border: rgb(var(--color-border-opacity));
  --color-border-accent: rgb(var(--color-border-accent-opacity));

  --color-text: rgb(var(--color-text-opacity));
  --color-text-accent: rgb(var(--color-text-accent-opacity));
  --color-text-on-primary: rgb(var(--color-text-on-primary-opacity));

  --color-background: rgb(var(--color-background-opacity));
}
